<!DOCTYPE html>
{% if page.language == "cz" %}
<html lang="cs">
{% else %}
<html lang="en">
{% endif %}

  {% include head.html %}

  <body>
    <div id="page" class="hfeed site">
      <header id="masthead" class="site-header" role="banner">
        <hgroup>
          <h1 class="site-title"><a href="{{ site.baseurl }}/" title="{{ site.title }}" rel="home">{{ site.title }}</a></h1>
        </hgroup>

        <nav role="navigation" class="main-navigation ">
          <h1 class="assistive-text">Menu</h1>
          <div class="assistive-text skip-link">
            <a href="#content" title="Skip to content">Skip to content</a>
          </div>

          <div class="menu-main-menu-container">
            <ul id="menu-main-menu" class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <div id="main" class="site-main">
        <div id="primary" class="content-area">
          <div id="content" class="site-content" role="main">
            {{ content }}
          </div>
        </div>

        {% if page.is_landing != true %}
        <div id="secondary" class="widget-area" role="complementary">
          <aside id="text-5" class="widget widget_text">
                <a href="https://github.com/adamheinrich" class="fa-stack fa-lg github" title="Github">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-1x fa-inverse fa-github"></i>
                </a>

                <a href="https://linkedin.com/in/adamheinrich" class="fa-stack fa-lg linkedin" title="LinkedIn">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-1x fa-inverse fa-linkedin"></i>
                </a>

                <a href="{{ site.url }}/atom.xml" class="fa-stack fa-lg rss" title="RSS Channel">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-1x fa-inverse fa-rss"></i>
                </a>
              </div>
            </div>
          </aside>
        </div>
        {% endif %}
      </div>

      {% if page.is_landing != true %}
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
          <i class="fa fa-cog"></i> 2007-{{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}/">Adam Heinrich</a>.
          <a href="{{ site.github.repository }}">Source code</a>.
        </div>
      </footer>
      {% endif %}
    </div>

    <script src="{{ site.baseurl }}/public/cookieconsent.min.js"></script>

    <script>
      window.cookieconsent.initialise({"palette":{"popup":{"background":"#383b75"},
      "button":{"background":"#f1d600"}},"content":{"message":
      "This website's commenting service uses cookies.",
      "dismiss":"Got it!","link":"Learn more","href":
      "https://help.disqus.com/user-profile/use-of-cookies"}});
    </script>
  </body>
</html>
